html, body {
  min-height: 100%;
  background-color: #f2f2f2;
  
}

.bg-light {
  background-color: #282c34!important;
}

.navbar-light .navbar-brand {
  color: #fff;
  display: flex;
}

.navbar-light .navbar-brand:hover {
  color: #f2f2f2;
  display: flex;
}

.navbar-brand-name {
  padding: 0;
  padding-left: 1rem;
  margin: 0;
}

#content {
  height: 600px;
  min-height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  padding: 20%;
 
}
h2, h3 {
  color: #282c34;
  font-size: 2rem;
  text-align: center;
}
