html, body {
  min-height: 100%;
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  color: rgb(208, 255, 0);
  font-size: 3rem;
  text-align: center;
}